@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Bitcount Grid Single", sans-serif;
}

html {
  scroll-behavior: smooth;
}
