.calendar-container {
  width: 100%;
}

.react-datepicker {
  font-family: inherit !important;
  background-color: rgb(30 41 59 / 0.8) !important;
  border: 1px solid rgb(51, 65, 85) !important;
}

.react-datepicker__header {
  background-color: rgb(30 41 59 / 0.9) !important;
  border-bottom: 1px solid rgb(51, 65, 85) !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day:hover {
  background-color: rgb(59, 130, 246) !important;
}

.react-datepicker__day--selected {
  background-color: rgb(59, 130, 246) !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: rgba(59, 130, 246, 0.5) !important;
}

.react-datepicker__navigation-icon::before {
  border-color: white !important;
}

.react-datepicker__navigation:hover *::before {
  border-color: rgb(59, 130, 246) !important;
}

.react-datepicker {
  font-size: 1.05rem !important;
  padding: 0.4rem !important;
}

.react-datepicker__current-month {
  font-size: 1.15rem !important;
  padding: 0.5rem 0 !important;
}

.react-datepicker__day {
  width: 2.6rem !important;
  height: 2.6rem !important;
  line-height: 2.6rem !important;
  margin: 0.12rem !important;
  font-size: 1rem !important;
}

.react-datepicker__navigation {
  font-size: 1.05rem !important;
}

@media (max-width: 480px) {
  .react-datepicker {
    font-size: 0.95rem !important;
  }
  .react-datepicker__day {
    width: 2.0rem !important;
    height: 2.0rem !important;
    line-height: 2.0rem !important;
  }
}